.footer-shell {
    background-color: #0b3f5f;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    padding-left: 1rem;
    align-items: center;
    .right {
        // border: 1px solid yellow;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .icon-link {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
}

* {
    color: white;
}
