// mat-dialog-content {
.wrapper {
    padding: 1rem;
    height: 100%;
    border: 10px solid black;
    .buttons {
        display: flex;
        // flex-direction: column;
        gap: 0.5rem;
        button {
            font-size: 1.7rem; // make emoji bigger
            padding: 0.25rem 0.5rem;
            margin-right: 0.25rem;
        }
    }
}
// }
* {
    font-family: Roboto;
}
