form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 700px;
    margin: auto;
    .text-editors {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        .text-editor {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: white;
            label {
                padding: 0.5rem;
                font-weight: bold;
            }
        }
    }
    .buttons {
        display: flex;
        gap: 1rem;
    }
}
