.scanner {
    max-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    #qr-reader {
        width: 100%;
        max-width: 320px;
    }
}
