mat-toolbar {
    background-color: #0b3f5f !important;
    color: white;
    .links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .left {
            display: flex;
            gap: 1rem;
            align-items: center;
            // border: 1px solid yellow;
        }
        .right {
            display: flex;
            gap: 1rem;
            align-items: center;
            // border: 1px solid yellow;
        }
        * {
            color: inherit;
        }
        .flag {
            // border: 1px solid pink;
            // background-color: lightgreen;
            font-size: 2rem; // make emoji bigger
            padding: 0.25rem 0.5rem;
            margin-right: 0.25rem;

            cursor: pointer;
        }
    }
}

.material-symbols-outlined {
    margin-top: 5px;
    font-size: 1.9rem;
    // border: 1px solid white;
}
