.app-shell {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    .content {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
