.wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 1rem;
    .top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 1rem;
        align-items: center;
        // justify-content: space-between;
        // border-bottom: 1px solid gray;
        margin-bottom: 1rem;
        .filter {
            max-width: 20rem;
            background-color: white;
            padding: 0 !important;
            // border: 3px solid red;
        }
        .print-multiple-btn {
            // background-color: coral;
            // color: black;
        }
    }

    table {
        margin: auto;
        background-color: lightgray;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid gray;
        .fields {
            border: 3px solid red;

            display: flex;
        }
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .add {
            background-color: coral;
            color: black;
        }
    }
}

mat-icon,
.material-symbols-outlined {
    cursor: pointer;
}

.mat-column-print {
    width: 48px;
    text-align: center;
}

.mat-header-cell.mat-column-print {
    justify-content: center;
}

// .mat-mdc-table {
//     width: 100%;
//     table-layout: fixed; // 🔑 makes columns equal
// }

// .mat-mdc-header-cell,
// .mat-mdc-cell {
//     flex: 1 1 0;
//     text-align: left;
//     padding: 0 16px;
//     box-sizing: border-box;
// }
// .col-title {
//     flex: 3 1 0; // wide column
// }

.col-edit,
.col-delete,
.col-download,
.col-preview,
.col-batch-download {
    width: 3rem;
    text-align: center;
}
