// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

// @use '@angular/material' as mat;

// html {
//   height: 100%;
//   @include mat.theme((
//     color: (
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     typography: Roboto,
//     density: 0,
//   ));
// }

@use "@angular/material" as mat;

@include mat.core();

@import "quill/dist/quill.snow.css";

$theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette
        )
    )
);

@include mat.all-component-themes($theme);

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
    height: 100%;
}
/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
}
button {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 1.1px !important;
}
.phone-dialog {
    padding: 0 !important;
    border-radius: 28px !important;
    width: 390px; // iPhone 14 width
    height: 844px;
    max-height: 90vh;
    background: #000;
    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.4),
        inset 0 0 0 2px #222;
}
